h1 {
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    background: lightskyblue;
    color: white;
}

li {
    color: white;
    background: lightskyblue;
    text-align: center;
    border-right: 5px solid black;
}

.tanjiro {
    text-align: center;
    text-decoration: underline;
    color: greenyellow;
}

h2 {
    font-size: 25px;
    color: white;
    background: lightskyblue;
}

p {
    color: white;
    background: lightskyblue;
}